#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.envoltura {
  font-family: Arial, sans-serif;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.logo {
  height: 100px;
  padding: 2px;
}

.main-content {
  display: flex;
  justify-content: space-between;
}

.employee-list {
  flex: 3; /* Ocupa más espacio para los empleados */
}

.aside-calculator {
  flex: 1;
  border: 1px solid #ddd;
  padding: 20px;
  margin-left: 20px;
  background-color: #f4f4f4;
  border-radius: 10px;
  width: 250px; /* Ancho fijo para parecer una calculadora */
  height: 400px; 
  display: flex;
  flex-direction: column;
}

.employee-list {
  margin-bottom: 20px;
}
.employee-card {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}

.calculator {
  text-align: center;
  margin-bottom: 20px;
}
.calculator input {
  margin: 5px;
  padding: 5px;
}
.calculator-buttons button {
  margin: 5px;
}